
@{
    ViewData["Title"] = "O que fazer?";
}

<style>
    .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
    }

    .section {
        margin-bottom: 30px;
    }
    .section h2 {
        background-color: #f8f9fa;
        padding: 10px;
        border-left: 10px solid #007bff;
    }
    
    .section .card {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px
    }

    .gapCard{
        height: 25px
    }

    .gapInfo{
        height: 10px
    }

    .gapSection{
        height: 30px
    }
</style>

<div class="container">

    <div class="gap-2"></div>

    <div class="section">
        <h2>Sinais de Uma Possível Erosão</h2>

        <div class="gapCard"></div>

        <div class="card">
            <p><strong>Redução da largura da praia:</strong> A faixa de areia da praiafica cada vez mais estreita, com o mar avançando em direção à terra firme.</p>
        </div>

        <div class="gapInfo"></div>

        <div class="card">
            <p><strong>Evite construir ou realizar reformas em áreas de risco:</strong> A erosão pode tornar áreas próximas à costa instáveis e inseguras para construção.</p>
        </div>

        <div class="gapInfo"></div>

        <div class="card">
            <p><strong>Participe de ações de proteção da costa:</strong> Existem diversas iniciativas de proteção da costa que você pode participar, como o plantio de árvores, a limpeza de praias e a participação em campanhas de conscientização.</p>
        </div>
    </div>

    <div class="gapSection"></div>

    <div class="section">
        <h2>O que fazer se ocorrer uma Erosão</h2>

        <div class="gapCard"> </div>

        <div class="card">
            <p><strong>Atenção aos Sinais:</strong> Sempre se atentar e observar os sinais que a natureza pode dar, principalmente uma alta intensidade em um curto período.</p>
        </div>

        <div class="gapInfo"></div>

        <div class="card">
            <p><strong>Afastar-se:</strong> Se os sinais forem observados, deixar o local o mais rápido. Manter distância de no mínimo 350 metros da costa.</p>
        </div>

        <div class="gapInfo"></div>

        <div class="card">
            <p><strong>Segure-se e Evite o Perigo:</strong> Se segure em um objeto firme no chão e evite locais arriscados ou ficar abaixo de estruturas perigosas com risco de desabamento.</p>
        </div>
    </div>

    <div class="gapSection"></div>

    <div class="section">
        <h2>O que fazer se ocorreu uma Erosão</h2>

        <div class="gapCard"> </div>

        <div class="card">
            <p><strong>Comunique as autoridades locais:</strong> informe a prefeitura, o estado ou o orgao ambiental responsavel pela gestão da orla maritima sobre os sinais de erosão que você observou</p>
        </div>

        <div class="gapCard"> </div>

        <div class="card">
            <p><strong>Evite Edificações ou Reformas em Áreas de Risco:</strong> A erosão pode tornar áreas próximas à costa instáveis e inseguras para construção.</p>
        </div>

        <div class="gapCard"> </div>

        <div class="card">
            <p><strong>Participe de Ações de Proteção à Costa:</strong> Existem diversas iniciativas de proteção da costa que você pode participar, como o plantio de árvores, a limpeza de praias e a participação em campanhas de conscientização.</p>
        </div>

    </div>

    <div class="gapSection"></div>

    <div class="section">
        <h2>O que fazer para Se Prevenir e Evitar a Erosão</h2>

        <div class="gapCard"> </div>

        <div class="card">
            <p><strong>Aquecimento global:</strong> Economizar energia elétrica em casa, evitar consumo de produtos industrializados, reciclar, evitar desperdício e usar energia limpa. </p>
        </div>

        <div class="gapCard"> </div>

        <div class="card">
            <p><strong>Urbanização:</strong> Evitar destruição de dunas, ocupação da pós-praia,  subsidência do solo, diminuição da largura da praia e construções na costas.</p>
        </div>

        <div class="gapCard"> </div>

        <div class="card">
            <p><strong>Mineração/Extração de Areia:</strong> Não retirar a areia para atividades antrópicas, seja para mineração, limpeza pública etc.</p>
        </div>

    </div>

</div>